
html {
  box-sizing: border-box;
}
/* PowerderHome comp*/
.wrarpper {
  width: 97%;
  max-width: 120px;
}
div img {
  width: 100%;
  max-width: 500px;
  max-height: 250px;
  margin: 10px;
}
.pass-image-container {
  display: flex;
  flex-flow: column wrap;
  flex: 0 1 auto;
  align-items: center;
}
.pass-image-container-pass {
  max-width: 45%;
  cursor: pointer;
}

.pass-image-container-pass:hover {
  border-color: #ad343e;
  opacity: 0.6;
}

/* resortCard*/

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

.resortCard-wrapper{
  width: 97%;
	max-width: 1500px;
	margin: 5px auto;
	float: none;
	background-color:pink;
}
.resortCard-container {
  /*  position: relative;*/
	display: flex;
	flex-flow: row wrap;
	flex: 0 1 95%;
  
}

.brand-container{

  flex: 0 0 10%;
  background-color:yellow
}

.weatherfeed-container {
  font-family: Georgia, sans-serif;
  font-size: 12px;
  line-height: 1.4em;
  color: #333;
  background-color:lightblue;
  flex:  0 0 85%;
}
.weatherfeedHeader-container{
  flex:  0 0 5%;
  font-size: 12px;
  line-height: 1.4em;
}

.weatherfeed-table {
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  background: 0;
  border: 0;
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
}

.weatherfeed-tr{
  
    border-color: inherit;
    
}
.weatherfeed-table-days-container{
  background-color: lightcoral;

 
  width: 100%;
}
.weatherfeed-table-days-td{
  width: 100%;
 column-span: 3;
  padding:1px;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  
}
.weatherfeed-table-days-div-name{
  border:red, solid, 1px;
  padding: 3px;
  column-span: 3;
 
 
}

.weatherfeed-table-days-th-time{
  column-span: 1;
}
.weatherfeed-table-flightLink-td{
  width: 100%;
  column-span: 3;
   padding:1px;
   flex-direction: row;
   display: flex;
   justify-content: space-evenly;
}

.flightIcon:hover {
  border: 1px solid greenyellow;
  opacity: 0.6;
}
/* table#wf-table a {
  color: #3c8dbc;
}

#wf-weatherfeed a:hover {
  color: #333;
}

