html {
  box-sizing: border-box;
}
/* PowerderHome comp*/
.wrapper {
  width: 97%;
}
div img {
  width: 100%;
  max-width: 500px;
  max-height: 250px;
  margin: 10px;
}
.pass-image-container {
  display: flex;
  flex-flow: column wrap;
  flex: 0 1 auto;
  align-items: center;
}
.pass-image-container-pass {
  max-width: 45%;
  cursor: pointer;
}

.pass-image-container-pass:hover {
  border-color: rgb(212, 247, 212);
  opacity: 0.6;
}

/* resortCard*/

*,
*:before,
*:after {
  box-sizing: inherit;
}

.pagePage-container {
  display: flex;
  flex-flow: column;
}
.resortCard-container {
  /*  position: relative;*/
  display: flex;
  flex-flow: row wrap;
  border: #60696e solid 1px;
  flex: 1 0 auto;
  margin-bottom: 5px;
  overflow: auto;
  align-items: center;
  font-family: Georgia, sans-serif;
  height: 100%;
}
.resortCard-wrapper:nth-child(2n + 1) {
  background-color: rgb(178, 222, 247);
}

.brand-container {
  flex: 2 4 50px;
  font-size: 18px;
  font-weight: 200;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(215, 247, 178);
}
.wfandh-container {
  flex: 10 1 500px;
  width: 100%;
  background-color: rgb(240, 203, 204);
  display: flex;
  flex-flow: row nowrap;
  border-left: 1px solid white;
  font-family: Georgia, sans-serif;
  font-size: 12px;
  line-height: 1.4em;
}
.weatherfeedHeader-container {
  align-self: start;
}

.weatherfeed-container {
  color: #333;
  display: flex;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: rgb(112, 63, 226);
}

.weatherfeed-table-container {
  display: flex;
  flex-flow: row;
  text-align: center;
}
.weatherfeed-table-days-td:nth-child(2n + 1) {
  background-color: rgb(178, 222, 247);
}
.weatherfeedheaders-table {
  justify-content: flex-end;
}
.weatherfeed-table-container {
  background-color: rgb(63, 226, 63);
  width: 100%;
}

.dayCard {
  flex: 1 0 auto;
  background-color: white;
  justify-content: center;
  border: 1px solid ghostwhite;
}
.dayCard-container {
  display: flex;
  flex-flow: column wrap;
  border: white solid 1px;
  flex: 0 1 95%;
  background-color: rgb(235, 8, 8);

  /* padding: 16px 24px; */
}
.dayCard-table-weekday {
  display: flex;
  flex-flow: column wrap;
  text-align: justify;
  background-color: rgb(178, 222, 247);
  column-span: 1;
  align-items: center;
  width: 100%;
}

.weatherfeed-table-days-td {
  width: 100%;
  column-span: 3;
  padding: 1px;
  flex-direction: row;
  display: flex;
}
.weatherfeed-table-days-div-name {
  border: red, solid, 1px;
  padding: 3px;
  column-span: 3;
}

.weatherfeed-table-days-th-time {
  column-span: 1;
}
.weatherfeed-table-flightLink-td {
  width: 100%;
  column-span: 3;
  padding: 1px;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
}
.flightIcon-container {
  text-align: center;
}

.flightIcon {
  text-decoration: none;
}

.flightIcon:hover {
  opacity: 0.2;
}

.flightCard {
}
/* /* table#wf-table a {
  color: #3c8dbc;
}

#wf-weatherfeed a:hover {
  color: #333;
} */

/* //FlightPage// */
.flightresults-container {
  font-weight: 400;
  font-stretch: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 95%;
  margin: 5px auto;
  background-color: rgb(178, 222, 247);
  justify-content: space-around;
  align-items: center;
  color: #3c4043;
}
.card {
  /*  position: relative;*/
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 95%;
  background-color: rgb(212, 247, 212);
  padding: 16px 24px;
  margin-bottom: lightgrey 1em;
  box-sizing: border-box;
  border-radius: 1px;
  color: #3c4043;
}
/* .nav {
  border-radius: 25px;
  border: 2px solid blanchedalmond;
  padding: 20px;
} */
.navlink {
  text-decoration: none;
  color: #3c4043;
}
.navlink:hover {
  color: #1087e9;
}

.imagenum,
.priceseats {
  display: flex;
  flex-direction: column;
  padding: 1px, 4px, 1px, 2px;
}
.flightinfobar,
.nav {
  display: flex;
  flex-direction: row;
  padding: 1px, 4px, 1px, 2px;
  justify-content: space-around;
  align-items: center;
  font-weight: 400;
  font-stretch: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.flightnum {
  font: 10px;
  color: #3c4043;
}
.time span {
  font-weight: 500;
  font-stretch: normal;
  font-size: 16px;
  line-height: 24px;
  font-family: "Google Sans", Roboto, HelveticaNeue, Arial, sans-serif;
  letter-spacing: normal;
  align-items: center;
}
