
html {
  box-sizing: border-box;
}
/* PowerderHome comp*/
.wrarpper {
  width: 97%;
  max-width: 120px;
}
div img {
  width: 100%;
  max-width: 500px;
  max-height: 250px;
  margin: 10px;
}
.pass-image-container {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
 
  align-content: stretch; */
  display: flex;
  flex-flow: column wrap;
  flex: 0 1 auto;
  align-items: center;
}
.pass-image-container-pass {
  max-width: 45%;
  cursor: pointer;
}

.active:hover {
  border-color: #ad343e;
  opacity: 0.6;
}

/* resortCard*/

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

.resortCard-wrapper{
  width: 97%;
	max-width: 1200px;
	margin: 1px auto;
	float: none;
	background-color:pink;
}
.resortCard-container {
  /*  position: relative;*/
	display: flex;
	flex-flow: row wrap;
	flex: 0 1 auto;

  
}

.brand-container{

  flex: 0 0 20%;
  background-color:yellow
}

.weatherfeed-container {
  font-family: Georgia, sans-serif;
  font-size: 12px;
  line-height: 1.4em;
  color: #333;
  background-color:lightblue;
  flex: 0 0 80%;
}

.weatherfeed-table {
  margin: 5px 5px 10px 5px;
  width: 459px;
  border: none;
}

/* table#wf-table a {
  color: #3c8dbc;
}

#wf-weatherfeed a:hover {
  color: #333;
}

